html {
	font-family: Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;
}
body {
	position: relative;
	min-height: 10000px;
	margin: 0;
	background-image: -webkit-linear-gradient(to bottom, #00A2DA 0%, #0062C8 25%, #02045B 50%, #0D0241 75%, #090424 100%);
	background-image: -moz-linear-gradient(to bottom, #00A2DA 0%, #0062C8 25%, #02045B 50%, #0D0241 75%, #090424 100%);
	background-image: -ms-linear-gradient(to bottom, #00A2DA 0%, #0062C8 25%, #02045B 50%, #0D0241 75%, #090424 100%);
	background-image: -o-linear-gradient(to bottom, #00A2DA 0%, #0062C8 25%, #02045B 50%, #0D0241 75%, #090424 100%);
	background-image: linear-gradient(to bottom, #00A2DA 0%, #0062C8 25%, #02045B 50%, #0D0241 75%, #090424 100%);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
}

nav > * {
	display: inline-block;;
}

nav > *:not(:last-child) {
	margin-right: 10px;
}

/* NEVER STYLE WITH ID'S KIDS! */

#center {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 300px;
	margin-left: -150px;
	padding: 30px;
	background-color: rgba(255,255,255,.5);
	border-radius: 20px;
}

#overflow {
	max-height: 350px;
	overflow: scroll;
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}